[edit]
    command = "code"
    args = ["--wait", "--disable-workspace-trust"]
    
[git]
    autoCommit = true
    autoPush = true

[data]
    email = "boyegs@gmail.com"
    name = "Boye Sjo"
    
[data.feide]
    vpn_user = "{{ (bitwarden "item" "idp.feide.no").login.username }}"
    vpn_pass = "{{ (bitwarden "item" "idp.feide.no").login.password }}"