[edit]
    command = "code"
    args = ["--wait", "--disable-workspace-trust"]
    
[git]
    autoCommit = true
    autoPush = true

[data]
    email = "boyegs@gmail.com"
    name = "Boye Sjo"

[data.conda]
    use_conda = {{ if ! command -v conda > /dev/null; then echo "false"; else echo "true"; fi }}
    
[data.feide]
    vpn_user = "{{ (bitwarden "item" "idp.feide.no").login.username }}"
    vpn_pass = "{{ (bitwarden "item" "idp.feide.no").login.password }}"