[edit]
    command = "code"
    args = ["--wait", "--disable-workspace-trust"]
    
[git]
    autoCommit = true
    autoPush = true

[data]
    email = "boyegs@gmail.com"
    name = "Boye Sjo"
    use_conda = {{ if lookPath "conda" -}}"yes"{{- else -}}"no"{{- end }}
    use_bitwarden = {{ if lookPath "bw" -}}"yes"{{- else -}}"no"{{- end }}

{{ if eq .use_conda "yes" }}
[data.feide]
    vpn_user = "{{ (bitwarden "item" "idp.feide.no").login.username }}"
    vpn_pass = "{{ (bitwarden "item" "idp.feide.no").login.password }}"
{{ end }}