[edit]
    command = "code"
    args = ["--wait", "--disable-workspace-trust"]
    
[git]
    autoCommit = true
    autoPush = true

[data]
    email = "boyegs@gmail.com"
    name = "Boye Sjo"
    hyperkey = "rctrl + ralt + rcmd"