# # Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f $ZDOTDIR/.p10k.zsh ]] || source $ZDOTDIR/.p10k.zsh

autoload -Uz compinit
compinit

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='nano'
else
  export EDITOR='code --wait --disable-workspace-trust'
fi

path+=$HOME/bin
path+=$HOME/.local/bin


{{ if lookPath "bat" -}}
alias cat="bat --theme=ansi"
{{ end -}}


{{ if lookPath "brew" -}}
# automatically set homebrew to arm/x86
[[ $(arch) = "arm64" ]] &&
    eval "$(/opt/homebrew/bin/brew shellenv)" ||
    eval "$(/usr/local/Homebrew/bin/brew shellenv)"

# export HOMEBREW=/opt/homebrew
# Add zsh completion scripts installed via Homebrew
# fpath=("$HOMEBREW/share/zsh/site-functions" $fpath)
# eval "$(/opt/homebrew/bin/brew shellenv)"
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

export HOMEBREW_NO_EMOJI=1
{{ end -}}

autoload -Uz compinit
compinit
  
## FZF
export FZF_PATH="$HOME/.config/fzf"


source ${ZDOTDIR:-~}/.antidote/antidote.zsh
antidote load
compinit

{{ if lookPath "eza" -}}
# EZA
alias l='eza -laB'
alias la='eza -lBA --git'
alias ll='eza -lB --git'
alias ls="eza"
alias lsa='eza -lahB --git'
alias lt="eza -T --git"
alias lt2="eza -T --git -L 2"
{{ else -}}
# LS
alias l='ls -lah'
alias la='ls -lAh'
alias ll='ls -lh'
alias ls='ls -G'
alias lsa='ls -lah'
alias lt="tree --gitignore"
alias lt2="tree --gitignore -L 2"
{{ end -}}


# disable sort when completing `git checkout`
zstyle ':completion:*:git-checkout:*' sort false
# set descriptions format to enable group support
zstyle ':completion:*:descriptions' format '[%d]'
# set list-colors to enable filename colorizing
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
# preview directory's content with eza when completing cd
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza -1 --color=always $realpath'
# switch group using `,` and `.`
zstyle ':fzf-tab:*' switch-group ',' '.'
