# # Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f $ZDOTDIR/.p10k.zsh ]] || source $ZDOTDIR/.p10k.zsh

autoload -Uz compinit
compinit

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='nano'
else
  export EDITOR='code --wait --disable-workspace-trust'
fi

path+=$HOME/bin
path+=$HOME/.local/bin

{{ if .use_conda -}}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/opt/homebrew/anaconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/opt/homebrew/anaconda3/etc/profile.d/conda.sh" ]; then
        . "/opt/homebrew/anaconda3/etc/profile.d/conda.sh"
    else
        export PATH="/opt/homebrew/anaconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<
{{ end -}}

{{ if lookPath "exa" -}}
alias ls="exa -F"
alias l="exa -lF --git"
alias la="exa -lba --git"
{{ else -}}
alias ls="ls -F"
alias l="ls -lF"
alias la="ls -lba"
{{ end -}}

{{ if lookPath "pyenv" -}}
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
{{ end -}}

{{ if lookPath "bat" -}}
alias cat="bat --theme=ansi"
{{ end -}}


{{ if lookPath "brew" -}}

# automatically set homebrew to arm/x86
[[ $(arch) = "arm64" ]] &&
    eval "$(/opt/homebrew/bin/brew shellenv)" ||
    eval "$(/usr/local/Homebrew/bin/brew shellenv)"

# export HOMEBREW=/opt/homebrew
# Add zsh completion scripts installed via Homebrew
# fpath=("$HOMEBREW/share/zsh/site-functions" $fpath)
# eval "$(/opt/homebrew/bin/brew shellenv)"
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

export HOMEBREW_NO_EMOJI=1

autoload -Uz compinit
compinit
{{ end -}}

# 
export FZF_PATH="$HOME/.config/fzf"


source ${ZDOTDIR:-~}/.antidote/antidote.zsh
antidote load
compinit

## FZF
# disable sort when completing `git checkout`
zstyle ':completion:*:git-checkout:*' sort false
# set descriptions format to enable group support
zstyle ':completion:*:descriptions' format '[%d]'
# set list-colors to enable filename colorizing
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
# preview directory's content with exa when completing cd
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'exa -1 --color=always $realpath'
# switch group using `,` and `.`
zstyle ':fzf-tab:*' switch-group ',' '.'
